<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-nav></app-nav>
  <div class="container">
    <h1>Compras registradas</h1>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Productos</th>
          <th>Fecha de creación</th>
          <th>Fecha de eliminación</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchase of purchases">
          <td>{{ purchase.id }}</td>
          <td>{{ purchase.description }}</td>
          <td>{{ purchase.price | currency }}</td>
          <td>
            <ul>
              <li *ngFor="let product of purchase.product">{{ product.name }}</li>
            </ul>
          </td>
          <td>{{ purchase.date_created | date }}</td>
          <td>{{ purchase.date_deleted | date }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</body>
</html>
